[submodule "urbit.sh"]
	path = urbit.sh
	url = https://github.com/0x47d/urbit.sh.git
[submodule "bitcoin.sh"]
	path = bitcoin.sh
	url = https://github.com/0x47d/bitcoin.sh.git
[submodule "freebird.im"]
	path = freebird.im
	url = https://github.com/0x47d/freebird.im.git
